<p>categoria works!</p>
<p>categoria works!</p>
<table mat-table [dataSource]="categorias" class="mat-elevation-z8 demo-table">


  <!-- Name Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Id Column -->
  <ng-container matColumnDef="categoria">
    <th mat-header-cell *matHeaderCellDef>categoria</th>
    <td mat-cell *matCellDef="let element">{{ element.categoria}}</td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
